@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

// * some component-level variables are declared in _custom.scss so that bootstrap will integrate them properly

// Font
$headings-font-family: "Raleway", sans-serif;

// Font Size
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;
$nav-link-font-size: $font-size-lg;

// Font Weight
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
$nav-link-font-weight: $font-weight-bold;

// Colors
$body-color: #02111b;
$link-color: $body-color;
$danger: #dbb3b1;
$primary: #e8fae3;
