@use "./custom" as *;
@import "~bootstrap/scss/bootstrap";

// Reset
a {
  text-decoration: none;
}

// Utility

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Bootstrap Card
.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  font-size: $font-size-sm;
}

.card-title {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}

// Bootstrap Nav

// underline effect
.nav-link {
  margin: 0 10px;
  @media screen and (max-width: 768px) {
    font-size: $font-size-sm;
  }
}

.nav-link:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-link:hover:after {
  width: 100%;
  background: $danger;
}
