@use "../styles/custom" as *;

.wrapper {
  position: relative;
  text-decoration: none;
  color: $body-color;
  font-size: $nav-link-font-size;
  font-weight: $nav-link-font-weight;
  &:hover {
    color: inherit;
  }
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px;
  left: 8px;
  border: 1px solid black;
  border-radius: 50%;
  height: 20px;
  min-width: 20px;
  font-size: $font-size-sm;
  color: white;
  background-color: black;
}
